* {
    margin:0;
    padding:0;
}
a.a-decoration {
    color: rgb(182,180,223);
    text-decoration: none !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}